.bt-style {
  /* border: none; */
  border: 1px solid darkgreen;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* margin: 0 auto; */
  cursor: pointer;
  transition-duration: 0.4s;
  margin: 3rem auto 1rem;
}

.bt-style.close {
  background-color: blue;
}

.bt-style.save {
  background-color: green;
}

.modal-title {
  text-align: center;
}

.modal-label {
  padding-left: 0.5rem;
  font-weight: bolder;
  display: inline-block;
  width: 5rem;
}

.bt-position {
  text-align: center;
  /* margin: 2rem auto 1rem; */
}

.disabled-bt-style {
  padding: 15px 32px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 3rem auto 1rem;
  color: darkgrey;
  background-color: grey;
  cursor: wait;
};

.disabled-bt-style:hover {
  box-shadow: none;
}